name: Notify Changelog

on:
  push:
    branches:
      - master

jobs:
  changelog:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Extract last changelog section
        id: changelog
        run: |
          CONTENT=$(tac CHANGELOG.md | awk '/^## /{if (p) exit; p=1} p' | tac)
          # Ghi multiline vào biến môi trường
          echo "CONTENT<<EOF" >> $GITHUB_ENV
          echo "$CONTENT" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV
      - name: Send to Discord
        run: |
          # Escape các dấu quote trong CONTENT
          ESCAPED_CONTENT=$(jq -Rn --arg content "$CONTENT" '{"content": $content}')
          curl -H "Content-Type: application/json" \
               -X POST \
               -d "$ESCAPED_CONTENT" \
               ${{ secrets.DISCORD_WEBHOOK }}